# IDE
.idea/
.vscode
.mypy_cache/

# MacOS
.DS_Store

# Terraform
services/emqx_cluster/.terraform
services/emqx_cluster/terraform.tfstate
services/emqx_cluster/.terraform.lock.hcl
services/emqx_cluster/terraform.tfstate.backup
